* { margin: 0; padding: 0; }
body, html {
    background-color: black;
    cursor: url(../img/cursor.png), default;
}

h1 {
    text-align: center;
    color: white;
    line-height: 2em;
    font-size: 24px;
    font-weight: bold;
}

.cncnet-dialog {
    width: 300px;
    margin: 50px auto;
}
