/* wine red background #500800 */
/* wine red background dark #300800 */
/* list selected bg #400000 (button second border) */
/* bright red #cc0000 */
/* button bg #600000 */

div.cncnet-dialog {
    cursor: url(../img/cursor.png), default;
    color: white;
    background: #500800 url(../img/logo.png) no-repeat 50% -13px;
    border-radius: 9px;
    padding-top: 40px;
    border: 3px solid #300800;
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
}

div.cncnet-view, div.cncnet-dialog .template {
    display: none;
}

div.cncnet-dialog h3 {
    text-align: center;
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight: bold;
    color: #cc0000;
}

div.cncnet-dialog p.center {
    text-align: center;
    line-height: 1.5em;
    color: #cc0000;
}

div.cncnet-dialog input[type=text] {
    border: 1px solid #cc0000;
    border-radius: 3px;
    background: black;
    color: white;
}

div.cncnet-dialog input[name=nickname] {
    width: 45%;
}

div.cncnet-dialog input[name=port] {
    width: 15%;
}

div.cncnet-dialog button {
    cursor: url(../img/cursor.png), default;
    border-top: 1px solid #cc0000;
    border-left: 1px solid #cc0000;
    border-right: 1px solid #400000;
    border-bottom: 1px solid #400000;
    border-radius: 3px;
    background: #600000;
    padding: 0px 10px;
    font-size: 1em;
    line-height: 1.4em;
    color: #cc0000;
    margin: 0.5em;
}

div.cncnet-dialog button:active {
    border-top: 1px solid #400000;
    border-left: 1px solid #400000;
    border-right: 1px solid #cc0000;
    border-bottom: 1px solid #cc0000;
    color: white;
}

div.cncnet-dialog button[disabled=disabled] {
    border-top: 1px solid #cc0000;
    border-left: 1px solid #cc0000;
    border-right: 1px solid #400000;
    border-bottom: 1px solid #400000;
    color: #990000;
    background: #480000;
}

.cncnet-box {
    margin: 0 5px;
    border: 1px solid #cc0000;
    border-radius: 3px;
    background: black;
}

div.cncnet-dialog ul.cncnet-list {
    margin: 0 5px;
    border: 1px solid #cc0000;
    border-radius: 3px;
    background: black;
    list-style: none;
    font-size: 12px;
}

div.cncnet-dialog ul.cncnet-list li {
    color: #cc0000;
    line-height: 1.8em;
    padding: 0 5px;
    position: relative;

}

div.cncnet-dialog ul.cncnet-rooms {
    min-height: 14.4em;
}

div.cncnet-dialog ul.cncnet-players {
    min-height: 14.4em;
}

div.cncnet-dialog ul.cncnet-rooms li {
    padding-left: 26px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}

div.cncnet-dialog ul.cncnet-rooms li.cnc95,
div.cncnet-dialog h3.cnc95 {
    background-image: url(../img/icons/16/cnc95.png);
}

div.cncnet-dialog ul.cncnet-rooms li.ra95,
div.cncnet-dialog h3.ra95 {
    background-image: url(../img/icons/16/ra95.png);
}

div.cncnet-dialog ul.cncnet-rooms li.ts,
div.cncnet-dialog h3.ts {
    background-image: url(../img/icons/16/ts.png);
}

div.cncnet-dialog ul.cncnet-rooms li.ra2,
div.cncnet-dialog h3.ra2 {
    background-image: url(../img/icons/16/ra2.png);
}

div.cncnet-dialog ul.cncnet-rooms li.ra2yr,
div.cncnet-dialog h3.ra2yr {
    background-image: url(../img/icons/16/ra2yr.png);
}

div.cncnet-dialog ul.cncnet-rooms li.selected {
    color: white;
    background-color: #400000;
}

div.cncnet-dialog ul.cncnet-rooms li.closed {
    text-decoration: line-through;
    color: #500800;
}

div.cncnet-dialog ul.cncnet-rooms li span.players {
    position: absolute;
    right: 5px;
}

div.cncnet-dialog ul.cncnet-players li.owner {
    font-weight: bold;
}

div.cncnet-dialog ul.cncnet-players li.selected {
    color: white;
    background-color: #400000;
}

div.cncnet-dialog ul.cncnet-players li span.ready {
    font-weight: bold;
    position: absolute;
    right: 5px;
}

div.cncnet-dialog p.icons button {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 7px;
    border: 2px solid #400000;
    border-radius: 3px;
    text-indent: -1000px;
    background: transparent none no-repeat 50% 50%;
}

div.cncnet-dialog p.icons button:hover {
    border: 2px solid #cc0000;
}

div.cncnet-dialog p.icons button.cnc95 { background-image: url(../img/icons/32/cnc95.png); }
div.cncnet-dialog p.icons button.ra95 { background-image: url(../img/icons/32/ra95.png); }
div.cncnet-dialog p.icons button.ts { background-image: url(../img/icons/32/ts.png); }
div.cncnet-dialog p.icons button.ra2 { background-image: url(../img/icons/32/ra2.png); }
div.cncnet-dialog p.icons button.ra2yr { background-image: url(../img/icons/32/ra2yr.png); }

div.cncnet-dialog h3.icon {
    background-position: 5px 50%;
    background-repeat: no-repeat;
}

div.cncnet-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #100000 url(../img/ajax-loader.gif) no-repeat 50% 50%;
    opacity: 0.7;
    z-index: 1;
    border-radius: 5px;
}

div.cncnet-dialog button,
div.cncnet-dialog li,
div.cncnet-dialog h3
{
    /* try to prevent select */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
div.cncnet-dialog a {
    color: #FF0000;
    font-weight: bold;
}
